<div class="container dashboard-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Dashboard</h1>
        <%= link_to "Create new gallery", dashboard_create_url, class: "btn btn-primary btn-space text-center" %>
        <br>
        <%= link_to "Edit existing gallery", dashboard_edit_url, class: "btn btn-primary btn-space text-center" %>
    </div>
  </div>
</div>
