<div class="container-fluid about-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <%= image_tag('Man.jpeg', :class => "img-circle alan-image") %>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <h1>Alan Dhingra</h1>
      <h3>I love painting, painting is something that I do. In fact it's something I do so much I wanted to make a website on it!</h3>
      <h3>I'll even teach you to paint as good as me! Just three easy payments of 1000 dollars and will be on our way. (no refunds)</h3>
      <h3>Be sure to contact me of any questions</h3>
      <button type="button" name="button" class="btn btn-primary">Contact Me</button>
    </div>
  </div>
</div>
