<div class="container home-events-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Please enter code to download wholesale catalogue</h3>
      <%= text_field_tag 'code' %>
      <br>
      <p><%= link_to 'Download', '/documents/wholesale.pdf', class: 'btn btn-primary disabled', id: "download-wholesale" %></p>
    </div>
  </div>
</div>
