<div class="container home-events-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>Click here to download the retail catalogue</h4>
      <p><%= link_to 'Download Retail Catalogue', '/documents/public.pdf', class: 'btn btn-primary', id: "download-public" %></p>
      <h4 style='margin-top: 5vh;'>Looking for wholesale?</h4>
      <p><%= link_to 'View Wholesale Catalogues', wholesale_catalogue_path, class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>
