<div class="container-fluid home-page">
  <div class="row">
    <div class="col-sm-12 home-column">
      <h1>Alan Dhingra</h1>
      <%= link_to "See All Galleries", galleries_path, :class => "home-page-link" %>
    </div>
  </div>
</div>
