<div class="container thank-you-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="form-group well">

        <h1>Thanks for your message!</h1>
        <p>You'll hear back from us soon</p>

      </div>
    </div>
  </div>
</div>
