<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="shopping-cart">
        <%= render "shopping_cart" %>
      </div>
      <div class="text-center">
        <% if @order_items.size > 0 %>
          <%= button_to('Submit Order', submit_order_path, :class => 'btn btn-success', :method => :patch) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
