<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p><%= link_to "Go back to previous page", province_path(@province) %></p>
      <% if @products.length == 0  %>
        <h1>This product group has no products</h1>
        <% if current_user.admin %>
          <h1><%= link_to "Click here to add products", edit_province_product_group_path(@province, @product_group) %></h1>
        <% end %>
      <% else %>
        <% if current_user.admin %>
          <h1><%= link_to "Click here to add products", edit_province_product_group_path(@province, @product_group) %></h1>
        <% end %>
        <% @products.each do |product| %>
          <%= render "product_row", product: product, order_item: @order_item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
