<section class="center slider">
  <% @gallery.paintings.each do |painting| %>
    <div>
      <%= image_tag(painting.image_url, class:"gallery-painting") if painting.image? %>
    </div>
  <% end %>
</section>

<div class="gallery-paintings-container">
  <% @gallery.paintings.each do |painting| %>
  <%= link_to gallery_painting_url(@gallery.id, painting.id), class:"painting-link" do %>
  <div class="gallery-painting-div">
    <%= image_tag(painting.image_url, class:"gallery-painting") if painting.image? %>
    <div class="painting-title-div">
      <h1 class="painting-title"><%= painting.title %></h1>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
