<h1><%= @gallery.title %></h1>
<br>
<% @gallery.paintings.each do |painting| %>
  <h4><%= painting.title %></h4>
    <%= image_tag(painting.image_url) if painting.image? %>
  <p><%= painting.description %></p>
<% end %>
