#british_columbia {
  display: none;
}

#manitoba {
  display: none;
}

#new_brunswick {
  display: none;
}

#newfoundland_and_labrador {
  display: none;
}

#northwest_territories {
  display: none;
}

#nova_scotia {
  display: none;
}

#nunavut {
  display: none;
}

#ontario {
  display: none;
}

#prince_edward_island {
  display: none;
}

#quebec {
  display: none;
}

#saskatchewan {
  display: none;
}

#yukon_territory {
  display: none;
}

#new_designs, #national_parks, #northern_ontario, #central_ontario, #southwestern_ontario, #eastern_ontario, #provincial_parks {
  display: none;
}
