// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//admin login
.admin-container {
    padding-top: 77px;
}
.admin-email {
    width: 300px;
}
//dashboard index
.dashboard-container {
    padding-top: 77px;
}
.btn-space {
    margin: 3px;
}
//dashboard create & edit
.new-gallery-container {
    padding-top: 77px;
}
.edit-gallery-container {
    padding-top: 77px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.paintings-container {
    padding-top: 77px;
}

//dashboard images maximum width
.thumbnail {
  max-width: 400px;
}

.edit-information-container {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
