// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-gallery-container {
    padding-top: 77px;
}
.new-gallery-container {
    padding-top: 77px;
}
.admin-container {
    padding-top: 77px;
}
