// .painting-information-picture {
//     width: 38vw;
//     display: inline-block;
// }
// .painting-information-text {
//     display: inline-block;
//     color: white;
//     margin-left: 25px;
// }
// .painting-information-container {
//     width: 80vw;
//     padding-left: 10vw;
//     padding-right: 10vw;
//     display: none;
//     width: 100%;
//     top: 0;
//     z-index: 10000;
//     height: 100vh;
//     padding-top: 13vh;
//     padding-bottom: 10vh;
//     position: fixed;
//     background-color: rgba(0, 0, 0, 0.68);
// }
.modal-image {
    width: 20vw;
}
.modal-body-description {
    display: inline-block;
    vertical-align: top;
}
.modal-body-image {
    display: inline-block;
}
