// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-index-container {
  padding-top: 10vh;
}

.feature-divider {
  margin-top: 35px;
  margin-bottom: 35px;
}

div.right-column-gallery {
  padding-right: 60px;
}

.alan-image {
  width: 50%;
  max-width: 100%;
  height: auto;
}

.about-container {
  padding-top: 10vh;
}
