// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-index-container {
  padding-top: 10vh;
}
.hover-title:hover {
  background-color: rgba(0,0,0,0.4);
  color: white;
}
.hover-content {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
      .hover-title {
        font-size: 30px;
        display: flex;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        height: 100%;
        margin: 0;
        width: 100%;
        vertical-align: center;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
}

.center.slider {
  margin-top: 0px;
  padding-top: 14vh;
  width: 85%;
}


.image-gallery {
  &:hover {
    .hover-content {
      font-size: 50px;
    }
    cursor: pointer;
  }
}
.gallery-painting {
  max-height: 50vh;
  max-width: 90vw;
  margin: 10px;
  height: auto;
  width: auto;
  cursor: pointer;
}
.gallery-painting-div {
  opacity: 0;
}
h1.painting-title {
  margin: 0;
}
.gallery-paintings-container {
  padding-top: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}
.painting-title-div {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  margin-top: -52px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.46));
  padding-left: 5px;
  color: white;
  line-height: 0;
  display: none;
  pointer-events: none;
  text-decoration: none;
}
.gallery-index-item {
  opacity: 0;
  position: relative !important;
  padding: 0 !important;
  margin: 1.665% !important;
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 30% !important;
  }
}

.painting-link {
  text-decoration: none !important;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 10px 20px;
}

.slick-slide img {
  width: 100%;
  transform: scale(0.9);
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dotted .slick-current img {
  transform: scale(1.1);
}
