// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  height: 75vh;
  // not sure why this works lol
  width: 1%;
  background: url(image-path('fullsize-6.JPG')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}

.opening-title {
    font-family: "Lato";
    display: none;
    margin-bottom: 12vh;
    text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.47);
}

.home-page-link {
  display: none;
    font-family: "Lato";
    font-weight: 300;
    /* color: gray; */
    /* color: white !important; */
    border: 3px solid white;
    padding: 5px;
    text-decoration: none !important;
    border-radius: 2px;
    background-color: rgba(80, 80, 80, 0.16);
    transition: background-color 0.2s ease;
}

.home-page-link:hover {
    background-color: rgba(80, 80, 80, 0.8);
    color: white;
}

div.home-container {
  padding: 0;
}

body, html {
  width: 100%;
}

.home-column {
  // display: none;
  text-align: center;
  height: 378px;
  h1 {
    font-size: 8em;
    color: white;
    text-transform: uppercase;
  }
  a {
    font-size: 3em;
    color: white;
  }
}

.first-photo {
  margin-left: 50px;
}

.quick-about {
  padding-top: 10vh
}

.about-text-col {
  margin-left: 15px;
  background-color: #d3d3d3;
  padding: 20px;

  h1 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 20px;
    line-height: 25px;
  }
}

.about-image-col {
  padding: 15px;
  background-color: #d3d3d3;
  margin-left: 20px;
  margin-right: 20px;
}

.three-galleries {
  margin-top: 10vh;
  margin-bottom: 10vh;

  .col-sm-12 {
    text-align: center;
    margin-bottom: 5vh;
  }
}
