// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  height: 100vh;
  // not sure why this works lol
  width: 1%;
  background: url('6.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}
.opening-title {
  font-family: "Lato";
  text-decoration: none !important;
}
.home-page-link {
    font-family: "Lato";
    font-weight: 300;
    /* color: gray; */
    /* color: white !important; */
    border: 3px solid white;
    padding: 5px;
    text-decoration: none !important;
    border-radius: 2px;
    background-color: rgba(80, 80, 80, 0.16);
    transition: background-color 0.2s ease;
}
.home-page-link:hover {
    background-color: rgba(80, 80, 80, 0.8);
    color: white;
}


body, html {
  width: 100%;
}

.home-column {
  text-align: center;
  h1 {
    font-size: 10em;
    color: white;
    // text-decoration: underline;
  }
  a {
    font-size: 3em;
    color: white;
  }
}
